<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<section>
		<!-- Start Slider  -->

		<div id="carouselExample" class="carousel slide">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="images/cb6.png" class="d-block w-100" alt="..."
					height="350px">
				</div>
				<div class="carousel-item">
					<img src="images/cb9.png" class="d-block w-100" alt="..."
						height="350px">
				</div>
				<div class="carousel-item">
					<img src="images/cb10.png" class="d-block w-100" alt="..."
						height="350px">
				</div>
			</div>
			<button class="carousel-control-prev" type="button"
				data-bs-target="#carouselExample" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button"
				data-bs-target="#carouselExample" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>

		<!-- End Slider  -->

		<!--< Start Category Module -->
		<div class="container">
			<div class="row">
				<p class="text-center fs-4">Category</p>
				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="images/classicbooks.jpg" width="65%" height="140px">
							<p>Classic Books</p>
						</div>
					</div>
				</div>

				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="images/fantasy.jpeg" width="65%" height="140px">
							<p>Fantasy Books</p>
						</div>
					</div>
				</div>


				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="images/Thriller.jpeg" width="65%" height="140px">
							<p>Thriller</p>
						</div>
					</div>
				</div>

				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="images/fairytales.jpeg" width="65%" height="140px">
							<p>Fairytales </p>
						</div>
					</div>
				</div>


				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="images/horror.jpeg" width="65%" height="140px">
							<p>Horror</p>
						</div>
					</div>
				</div>

				<div class="col-md-2">
					<div
						class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded ">
						<div class="card-body text-center">
							<img src="images/sciencefiction.jpeg" width="65%"
								height="140px">
							<p>Science Fiction Books</p>
						</div>
					</div>
				</div>


			</div>
		</div>
		<!-- End Category Module -->


		<!-- Start Latest Product Module -->

		<div class="container-fluid bg-light p-3">
			<div class="row">
				<p class="text-center fs-4">Latest Arrivals</p>

				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="images/Atomic-Habits.jpg" class="" width="65%"
								height="140px">
							<p class="text-center">Atomic Habits-James Clear</p>
						</div>
					</div>
				</div>


				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="images/option B.jpg" class="" width="65%"
								height="140px">
							<p class="text-center">Sheryl Sandberg</p>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="images/5amclub.jpg" class="" width="65%"
								height="140px">
							<p class="text-center">Robin Sharma</p>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body text-center">
							<img alt="" src="images/Range.png" class="" width="65%"
								height="140px">
							<p class="text-center">Range-David Epstein</p>
						</div>
					</div>
				</div>

			</div>
		</div>


		<!-- End Latest Product Module -->
	</section>
</body>
</html>